# Configuration file for the On-Site Analysis (OSA) for the LST1 telescope
#
# The squared enclosed tags are sections needed by different modules,
# so python does not override variables with the same name in different sections
# it just make life easier for the programming
#
# The %()s variables are wildcards for string substitutions


[ENV]
SBATCHBIN = srun
PYTHONBIN = /fefs/aswg/software/virtual_env/anaconda3/envs/cta/bin

[LSTOSA]
HOMEDIR = /fefs/aswg
LSTCHAINDIR = %(HOMEDIR)s/software/virtual_env/ctasoft/cta-lstchain
CONFIGFILE = %(LSTCHAINDIR)s/lstchain/data/lstchain_standard_config.json
CALIBCONFIGFILE = %(LSTCHAINDIR)s/lstchain/data/onsite_camera_calibration_param.json
PYTHONDIR = %(HOMEDIR)s/lstosa
NIGHTSUMDIR = %(HOMEDIR)s/lstosa/NightSummary
R0-DL1 = lstchain_data_r0_to_dl1
DL1-MUON = lstchain_data_muon_analysis_dl1 
DL1-DL2 = lstchain_dl1_to_dl2 
RF-MODELS-DIR = %(HOMEDIR)s/data/models/20190415/south_pointing/20200316_v0.4.5__EG1/

# Applications
CALIBRATION = calibration
MAX_PED_EVENTS = 20000
CALIBRATION_VERSION = v1
STATISTICS = 10000
CALIB_BASE_DIRECTORY = %(HOMEDIR)s/data/real/calibration/v00
CALCULATE_TIME_RUN = 1625

FLATFIELDCALCULATORSAMPLESIZE = 10000
PEDESTALCALCULATORSAMPLESIZE = 10000
EVENTSOURCEMAXEVENTS = 1000000

GRAPH = dot
# File type pattern for DB

# Prefixes
SCALIBPREFIX = calibration.Run
SSIGNALPREFIX = drs4_pedestal.Run
#DRIVEPREFIX =
R0PREFIX = LST-1.1
DL1PREFIX = dl1_LST-1
DL2PREFIX = dl2_LST-1
ENDOFACTIVITYPREFIX = NightFinished
NIGHTSUMMARYPREFIX = NightSummary
WORKFLOWPREFIX = Workflow
MUONPREFIX = Muon
INCIDENCESPREFIX = Incidences

# HDF5 file patterns
R0-DL1PATTERN = DL1 
DL1-DL2PATTERN = DL2

# Suffixes
COMPRESSEDSUFFIX = .fz
HDF5SUFFIX = .hdf5
H5SUFFIX = .h5
FITSSUFFIX = .fits
DRIVESUFFIX = .txt
PEDESTALSUFFIX = %(FITSSUFFIX)s
CALIBSUFFIX = %(HDF5SUFFIX)s
R0SUFFIX = %(FITSSUFFIX)s%(COMPRESSEDSUFFIX)s
DL1SUFFIX = %(H5SUFFIX)s
DL2SUFFIX = %(H5SUFFIX)s

RAWSUFFIX = .raw
REPORTSUFFIX = .rep
GRAPHSUFFIX = .dot
SCRIPTSUFFIX = .py
TEXTSUFFIX = .txt
SVGSUFFIX = .svg
HISTORYSUFFIX = .history
VETOSUFFIX = .veto
CLOSEDSUFFIX = .closed
# Night summary specifics
NIGHTSUMMARYSCRIPT = %(PYTHONDIR)s/create_nightsummary.py
# Amount of tries each datasequence job is allowed to run before being vetoed
MAXTRYFAILED = 2

[PROGRAM]
PEDESTAL = lstchain_data_create_drs4_pedestal_file 
CALIBRATION = lstchain_create_calibration_file
TIME_CALIBRATION = lstchain_data_create_time_calibration_file

[LST]
DATESEPARATOR = _
# Sets the amount of hours after midnight for the default OSA date
# to be the current date, 4 = 04:00:00 UTC, -4 = 20:00:00 UTC day before
NIGHTOFFSET = -3

[LST1]
DIR = /fefs/aswg/data/real
RAWDIR = %(DIR)s/R0
DRIVEDIR = /fefs/home/lapp/DrivePositioning 
CALIBDIR = %(DIR)s/calibration 
PEDESTALDIR = %(DIR)s/calibration 
ANALYSISDIR = %(DIR)s/DL1
DL2-DIR = %(DIR)s/DL2
CLOSERDIR = %(DIR)s/lst-osa/Closer
ENDOFRAWTRANSFERDIR = %(DIR)s/Reports/Compress
CALIBRATIONCONFIGCARD = onsite_camera_calibration_param.json 
CONFIGCARD = 
VERSION = v00

[LST2]
DIR = /fefs/aswg/lst-osa
RAWDIR = %(DIR)s/R0
REPORTDIR = %(DIR)s/OSA/CC
CALIBDIR = %(DIR)s/calibration 
PEDESTALDIR = %(DIR)s/calibration
ANALYSISDIR = %(DIR)s/data/real/dl1
CLOSERDIR = %(DIR)s/lst-osa/Closer
ENDOFRAWTRANSFERDIR = %(DIR)s/Reports/Compress
CONFIGCARD = 

[ST]
DIR = %(HOMEDIR)s/data/real
RAWDIR = %(DIR)s/R0
REPORTDIR = %(DIR)s/OSA/CC
CALIBDIR = %(DIR)s/calibration 
PEDESTALDIR = %(DIR)s/calibration 
ANALYSISDIR = %(DIR)s/data/real/dl1
CLOSERDIR = %(DIR)s/lst_osa/Closer
ENDOFRAWTRANSFERDIR = %(DIR)s/Reports/Compress
CONFIGCARD = 

[NONFATALRCS]
R0-DL1 = 0,2
DL1-DL2 = 0,2

[MYSQL]
SERVER = lstcontainer
USER = analysis
DATABASE = LST
DAQTABLE = DAQ
SEQUENCETABLE = SEQUENCE
ANALYSISTABLE = ANALYSIS
SUMMARYTABLE = SUMMARY
STORAGETABLE = STORAGE
NIGHTTIMES = NIGHTTIMES

[REMOTE]
STATISTICSHOST = polaris.gae.ucm.es
STATISTICSSSHPORT = 24
STATISTICSUSER = tomcat
STATISTICSDIR = /polaris2/data/tomcat/statistics-web
STATISTICSSUFFIX = .osa-finished

[OUTPUT]
# REPORTWIDTH is the width in characters of the heading frame for the output
REPORTWIDTH = 154
# Number of charachters padding the columns
PADDING = 2

[ALARM]
ONSITEEMAIL = gae-lst-onsite@gae.ucm.es
ONLINEEMAIL = gae-lst-onsite@gae.ucm.es

# place section below the end of this file
[PROVENANCE]
version: 1
formatters:
    simple:
        format: '%(levelname)s %(name)s %(message)s'
        #format: '%(asctime)s.%(msecs)03d%(message)s'
        datefmt: '%Y-%m-%dT%H:%M:%S'
handlers:
    provHandler:
        class: logging.handlers.WatchedFileHandler
        level: INFO
        formatter: simple
        filename: prov.log
loggers:
    provLogger:
        level: INFO
        handlers: [provHandler]
        propagate: False
disable_existing_loggers: False
PREFIX: __PROV__
HASH_METHOD: md5
HASH_BUFFER: path
capture: True
