Andres Baquero <obaquero@ucm.es> andres-baquero <obaquero@ucm.es>

Daniel Morcuende <dmorcuen@ucm.es> morcuended <dmorcuen@ucm.es>

Jose Luis Contreras <jlcontreras@fis.ucm.es> Jose Contreras <jose.contreras@cp02.ctan.cta-observatory.org>
Jose Luis Contreras <jlcontreras@fis.ucm.es> Jose Luis Contreras <pda.jl.contreras@gmail.com>

Jose Enrique Ruiz <jer@iaa.es> Jose Enrique.Ruiz <jer@iaa.es>

Lab Saha <lab.saha@gmail.com> Lab <lab.saha@gmail.com>

Maria Lainez <malainez@ucm.es> Maria Lainez <98marialainez@gmail.com>
Maria Lainez <malainez@ucm.es> Maria Lainez <maria.lainez@cp01.ctan.cta-observatory.org>
Maria Lainez <malainez@ucm.es> Maria Lainez <marialainez@MacBook-Pro-de-Maria.local>
Maria Lainez <malainez@ucm.es> Maria Lainez <marialainez@up.gae.ucm.es>
