# Example of a configuration file for the On-Site Analysis (OSA) for
# the LST1 telescope.
#
# The %()s variables are wildcards for string substitutions

[LST1]
# Directories to replicate the LST1 directory tree.
# The BASE directory is to be set by the user.
BASE: test_osa/test_files0
# The directories below can be left untouched.
MONITORING: %(BASE)s/monitoring
R0_DIR: %(BASE)s/R0
DRIVE_DIR: %(MONITORING)s/DrivePositioning
RUN_SUMMARY_DIR: %(MONITORING)s/RunSummary
RUN_CATALOG: %(MONITORING)s/RunCatalog
PEDESTAL_FINDER_DIR: %(BASE)s/auxiliary/PedestalFinder
ANALYSIS_DIR: %(BASE)s/running_analysis
CALIB_BASE_DIR: %(MONITORING)s/PixelCalibration/Cat-A
CALIB_DIR: %(CALIB_BASE_DIR)s/calibration
PEDESTAL_DIR: %(CALIB_BASE_DIR)s/drs4_baseline
DL1_DIR: %(BASE)s/DL1
DL1AB_DIR: %(BASE)s/DL1
DL2_DIR: %(BASE)s/DL2
DL3_DIR: %(BASE)s/DL3
OSA_DIR: %(BASE)s/OSA
CLOSER_DIR: %(OSA_DIR)s/Closer
HIGH_LEVEL_DIR: %(OSA_DIR)s/HighLevel
LONGTERM_DIR: %(OSA_DIR)s/DL1DataCheck_LongTerm
MERGED_SUMMARY: %(OSA_DIR)s/Catalog/merged_RunSummary.ecsv
SEQUENCER_WEB_DIR: %(OSA_DIR)s/SequencerWeb

# To be set by the user. Using PROD-ID will overcome the automatic
# fetching of lstchain version. Otherwise leave it empty (and without the colon symbol).
PROD_ID: v0.1.0
# Change this to produce a different DL1b or DL2 sub-productions.
# Otherwise, keep it empty to use the common PROD-ID
DL1_PROD_ID: tailcut84
DL2_PROD_ID: model2

[lstchain]
# Calibration steps in calibration pipeline script
drs4_baseline: onsite_create_drs4_pedestal_file
charge_calibration: onsite_create_calibration_file
use_ff_heuristic_id: False

# Data processing steps in datasequence script
r0_to_dl1: lstchain_data_r0_to_dl1
dl1ab: lstchain_dl1ab
check_dl1: lstchain_check_dl1
dl1_to_dl2: lstchain_dl1_to_dl2

# To be set by the user
dl1a_config: /software/lstchain/data/lstchain_standard_config.json
store_image_dl1ab: True
merge_dl1_datacheck: True
dl1b_config: /software/lstchain/data/lstchain_standard_config.json
dl2_config: /software/lstchain/data/lstchain_standard_config.json
rf_models: /data/models/prod5/zenith_20deg/20201023_v0.6.3
dl3_config: /software/lstchain/data/dl3_std_config.json
max_tries: 3

[MC]
IRF_file: /path/to/irf.fits
gamma: /path/to/DL2/gamma_mc_testing.h5
proton: /path/to/DL2/proton_mc_testing.h5
electron: /path/to/DL2/electron_mc_testing.h5

[SLURM]
PARTITION_PEDCALIB: short, long
PARTITION_DATA: short, long
MEMSIZE_PEDCALIB: 3GB
MEMSIZE_DATA: 16GB
WALLTIME: 1:15:00
# Days from current day up to which the jobs are fetched from the queue.
# Default is None (left empty).
STARTTIME_DAYS_SACCT:

[WEBSERVER]
# Set the server address and port to transfer the datacheck plots
HOST: datacheck
DATACHECK: /home/www/html/datacheck

[CACHE]
# Sometimes when working with clusters and job schedulers, cache
# directories need to be specified by the user. Otherwise leave them empty.
CTAPIPE_CACHE: /fefs/aswg/lstanalyzer/.ctapipe/ctapipe_cache
CTAPIPE_SVC_PATH: /fefs/aswg/lstanalyzer/.ctapipe/service
MPLCONFIGDIR: /fefs/aswg/lstanalyzer/.cache/matplotlib

[database]
path: test_osa/test_files0/OSA/osa.db
caco_db: lst101-int:27018
tcu_db: lst101-int

[mail]
recipient: your@email.com

# From here on, users should not need to change anything.
[PATTERN]
# Prefixes
R0PREFIX: LST-1.1
CALIBPREFIX: calibration.Run
PEDESTALPREFIX: drs4_pedestal.Run
TIMECALIBPREFIX: time_calibration.Run
DL1PREFIX: dl1_LST-1
DL1ABPREFIX: dl1_LST-1
DATACHECKPREFIX: datacheck_dl1_LST-1
MUONPREFIX: muons_LST-1
DL2PREFIX: dl2_LST-1
INTERLEAVEDPREFIX: interleaved_LST-1

# Suffixes
R0SUFFIX: .fits.fz
CALIBSUFFIX: .h5
PEDESTALSUFFIX: .fits
TIMECALIBSUFFIX: .h5
DL1SUFFIX: .h5
DL1ABSUFFIX: .h5
DATACHECKSUFFIX: .h5
MUONSUFFIX: .fits
DL2SUFFIX: .h5
INTERLEAVEDSUFFIX: .h5

# File type pattern for DB
CALIBTYPE = Calibration
TIMECALIBTYPE = TimeCalibration
PEDESTALTYPE = DRS4Pedestal
DL1TYPE = DL1
DL1ABTYPE = DL1
DL2TYPE = DL2
MUONTYPE = Muons
DATACHECKTYPE = Datacheck
INTERLEAVEDTYPE = Interleaved

[LSTOSA]
GRAPH: dot
WORKFLOWPREFIX: Workflow
GRAPHSUFFIX: .dot
SVGSUFFIX: .svg
end_of_activity: NightFinished.txt

[OUTPUT]
# REPORTWIDTH is the width in characters of the heading frame for the output
REPORTWIDTH: 160
# Number of characters padding the columns
PADDING: 2

[PROVENANCE]
version: 1
formatters:
    simple:
        format: '%(levelname)s %(name)s %(message)s'
        #format: '%(asctime)s.%(msecs)03d%(message)s'
        datefmt: '%Y-%m-%dT%H:%M:%S'
handlers:
    provHandler:
        class: logging.handlers.WatchedFileHandler
        level: INFO
        formatter: simple
        filename: prov.log
loggers:
    provLogger:
        level: INFO
        handlers: [provHandler]
        propagate: False
disable_existing_loggers: False
PREFIX: __PROV__
HASH_METHOD: md5
HASH_BUFFER: path
capture: True
