name: CI

on:
  push:
    branches:
      - main
    tags:
      - '**'
  pull_request:

env:
  MPLBACKEND: Agg
  PYTEST_ADDOPTS: --color=yes

jobs:
  pyflakes:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: pyflakes
        run: |
          pip install pyflakes
          pyflakes osa

  tests:
    needs: pyflakes
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash -l {0}

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Mamba
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: environment.yml
          cache-environment: true
          post-cleanup: 'all'

      - name: Install dependencies
        env:
          PYTHON_VERSION: 3.11

        run: |
          python --version
          echo "Installing additional pip packages"
          echo "pip install .[test]"
          pip install .[test]

      - name: Tests
        env:
          COVERAGE_PROCESS_START: .coveragerc
          PYTHONPATH: .

        run: |
          # to measure coverage when using subprocess for testing scripts we create sitecustomize.py
          # as specified in https://coverage.readthedocs.io/en/latest/subprocess.html
          # to initialize the coverage start up.
          echo "create sitecustomize.py"
          echo "import coverage; coverage.process_startup()" > $PYTHONPATH/sitecustomize.py
          pytest --basetemp=test_osa -v --cov --cov-report=xml osa
          cat coverage.xml

      - name: Codecov
        uses: codecov/codecov-action@v3
